

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-about {
  background-image: url("/public/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

}

@media only screen and (max-width: 767px) {
  .bg-about {
    background-image: none;

  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
}

.slick-slide > div {
    display: grid;
    place-items: center;
    justify-content: center;
    margin-top: 50px;
    margin: auto;
    padding: 0px;
    width: 100% !important ; 
  }